<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Yvonne Feng (b.1989, China)</h4>
            <h4>Lives and works in London, UK</h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Education</h4>
        </div>
        <div ng-repeat="yearedEd in cv.education">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{yearedEd.year}}
            </div>
            <div ng-repeat="ed in yearedEd.descs" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                {{ed}}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Solo Exhibitions</h4>
        </div>
        <div ng-repeat="yearedExhib in cv.soloExhibitions">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{yearedExhib.date}}
            </div>
            <div ng-repeat="exhib in yearedExhib.events" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">
                <em>{{exhib.exhibName}}</em>{{", " + exhib.venue}}
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Selected Group Exhibitions</h4>
        </div>
        <div ng-repeat="yearedExhib in cv.groupExhibitions">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{yearedExhib.date}}
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div ng-repeat="exhib in yearedExhib.events">
                    <em>{{exhib.exhibName}}</em>{{", " + exhib.venue}}
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Awards</h4>
        </div>
        <div ng-repeat="yearedAward in cv.awards">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                {{yearedAward.year}}
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div ng-repeat="award in yearedAward.descs">
                    {{award}}
                </div>
            </div>
        </div>


        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


        </div>
    </div>
</div>