<div ng-repeat="section in sections">
    {{section.heading}}
    <div ng-repeat="event in section.events">
        <table>
            <tr>
                <td width="125"></td>
                <td>{{event}}</td>
            </tr>
        </table>
    </div>
    <table>
        <tr ng-repeat="events in section.datedEvents">
            <td width="125">
                {{events.date}}
            </td>
        <td width="125" ng-repeat="event in events.events">{{event}}</td>
        </tr>
    </table>
</div>