<div ng-repeat="section in sections">
    {{section.heading}}
    <div ng-repeat="event in section.events">
        <table>
            <tr>
                <td width="125"></td>
                <td>{{event}}</td>
            </tr>
        </table>
    </div>
    <div class="container">
        <div ng-repeat="events in section.datedEvents">
            <div class="row">
                <div class="col-lg-2">
                    {{events.date}}
                </div>
                <div class="row">
                    <div ng-repeat="event in events.events">
                        <div class="col-lg-10">
                            {{event}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
