
.highlight {
    transition: 0.5s linear all;
}

.highlight.on-add {
    background: white;
}

.highlight.on {
    background: yellow;
}

.highlight.on-remove {
    background: black;
}

@media (min-width: 768px ) {
  .row {
      position: relative;
  }

  .bottom-align-text {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.imgdivbs {
    position: relative;
    max-width:1000px;
    width:100px;
    height: 1500px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding:7px;
    grid-column-align:start;
}

.bgImage {
    /*min-height:1000px;
    background-repeat: no-repeat;*/
}

body {
  min-height : 100%;
  min-width : 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  /*overflow-y: hidden;*/
  overflow-x: hidden;

}

.singleImg{
    /*float: left;*/
    width:100%;
    display:block;
    /*max-height:100%;
    max-width:100%;*/
    /*max-width:500px;*/
}

.img {
    padding:7px;
    width:auto;
    height:auto;
    max-width:1000px;
    /*max-height:2000px;*/ 
}

.imgdivsimple {

}

.ptest {
    color:aqua;
    font-size:large;
}