
.highlight {
    transition: 0.5s linear all;
}

.highlight.on-add {
    background: white;
}

.highlight.on {
    background: yellow;
}

.highlight.on-remove {
    background: black;
}

.imgdivbs {
    position: relative;
    max-width:1000px;
    width:100px;
    height: 1500px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding:7px;
    grid-column-align:start;
}

.noOutline{
    outline:none;
}

.workTitle{
    font-style:italic;
}

body {
  min-height : 100%;
  min-width : 100%;
  background-size:100% 100%;
  background-repeat:no-repeat;
  /*overflow-y: hidden;*/
  overflow-x: hidden;

}

.singleImg{
    margin-left:auto;
    margin-right: auto;
    max-height: 1000px
    /*width:100%;
    display:block;*/
    /*max-height:100%;
    max-width:100%;*/
    /*max-width:500px;*/
}

.img {
    margin-left: auto;
    margin-right: auto;
    padding:7px;
    width:auto;
    height:auto;
    max-height: 300px;
    /*max-width:1000px;*/
    /*max-height:2000px;*/ 
}

.imgdivsimple {
    max-height: 500px;
}

.ptest {
    color:aqua;
    font-size:large;
}