<h1>Hello, world!</h1>
<p>drawings</p>

<!--<div class="container">
                    <!--<img src="{{picture}}" class="img-responsive" style="min-height:100px;max-height:100px" ng-click="selectPicture(picture)" />-->

<div class="row">
    <div ng-show="manager.isImageSelected()">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <img src="{{manager.selectedImage.path}}" class="img-responsive" />
            <p>{{manager.selectedImage.name}}</p>
        </div>
    </div>
</div>
<div ng-hide="manager.isImageSelected()">
    <div class="row" ng-repeat="row in manager.pictureRows">
        <div class="col-lg-{{manager.picColWidth}}" ng-repeat="pic in row">
            <a href="#Drawings/{{pic.id}}">
                <img src="{{pic.path}}" class="img-responsive" />
            </a>
        </div>
    </div>
</div>

</div>