<div class="navbar navbar-static-top">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#Home">Home</a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
            <ul class="nav navbar-nav">
                <li ng-repeat="category in categories">
                    <a href="{{category.link}}" ng-show="{{category.subCategories === null}}">{{category.title}}</a>
                    <a class="dropdown-toggle" ng-hide="{{category.subCategories === null}}" href="{{category.link}}">{{category.title}}<b class=" caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="subCat in category.subCategories"><a href="{{subCat.link}}">{{subCat.title}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
